@font-face {
  font-family: 'ALSHauss-BlackExpanded';
  src: url('./fonts/ALSHauss-BlackExpanded.ttf') format('ttf');
  src: url('./fonts/ALSHauss-BlackExpanded.eot');
  src: url('./fonts/ALSHauss-BlackExpanded.eot?#iefix')
  format('embedded-opentype'),
  url('./fonts/ALSHauss-BlackExpanded.woff') format('woff'),
  url('./fonts/ALSHauss-BlackExpanded.woff2') format('woff2'),
  url('./fonts/ALSHauss-BlackExpanded.ttf') format('truetype'),
  url('./fonts/ALSHauss-BlackExpanded.svg#ALSHauss-BlackExpanded')
  format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ALS Hauss';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/als_hauss/als_hauss_regular.eot');
  src: url('../assets/fonts/als_hauss/als_hauss_regular.eot#iefix') format("ie9-skip-eot"),
  url('../assets/fonts/als_hauss/als_hauss_regular.woff2') format("woff2"),
  url('../assets/fonts/als_hauss/als_hauss_regular.woff') format("woff");
}
@font-face {
  font-family: 'ALS Hauss';
  font-weight: 400;
  font-style: italic;
  src: url('../assets/fonts/als_hauss/als_hauss_regular_italic.eot');
  src: url('../assets/fonts/als_hauss/als_hauss_regular_italic.eot#iefix') format("ie9-skip-eot"),
  url('../assets/fonts/als_hauss/als_hauss_regular_italic.woff2') format("woff2"),
  url('../assets/fonts/als_hauss/als_hauss_regular_italic.woff') format("woff");
}
@font-face {
  font-family: 'ALS Hauss';
  font-weight: 900;
  font-style: normal;
  src: url('../assets/fonts/als_hauss/als_hauss_black.eot');
  src: url('../assets/fonts/als_hauss/als_hauss_black.eot#iefix') format("ie9-skip-eot"),
  url('../assets/fonts/als_hauss/als_hauss_black.woff2') format("woff2"),
  url('../assets/fonts/als_hauss/als_hauss_black.woff') format("woff");
}
@font-face {
  font-family: 'ALS Hauss';
  font-weight: 900;
  font-style: italic;
  src: url('../assets/fonts/als_hauss/als_hauss_black_italic.eot');
  src: url('../assets/fonts/als_hauss/als_hauss_black_italic.eot#iefix') format("ie9-skip-eot"),
  url('../assets/fonts/als_hauss/als_hauss_black_italic.woff2') format("woff2"),
  url('../assets/fonts/als_hauss/als_hauss_black_italic.woff') format("woff");
}
@font-face {
  font-family: 'ALS Hauss';
  font-weight: bold;
  src: url('../assets/fonts/als_hauss/als_hauss_bold.eot');
  src: url('../assets/fonts/als_hauss/als_hauss_bold.eot#iefix') format("ie9-skip-eot"),
  url('../assets/fonts/als_hauss/als_hauss_bold.woff2') format("woff2"),
  url('../assets/fonts/als_hauss/als_hauss_bold.woff') format("woff");
}
@font-face {
  font-family: 'ALS Hauss';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/als_hauss/als_hauss_medium.eot');
  src: url('../assets/fonts/als_hauss/als_hauss_medium.eot#iefix') format("ie9-skip-eot"),
  url('../assets/fonts/als_hauss/als_hauss_medium.woff2') format("woff2"),
  url('../assets/fonts/als_hauss/als_hauss_medium.woff') format("woff");
}
@font-face {
  font-family: 'ALS Hauss';
  font-weight: 500;
  font-style: italic;
  src: url('../assets/fonts/als_hauss/als_hauss_medium_italic.eot');
  src: url('../assets/fonts/als_hauss/als_hauss_medium_italic.eot#iefix') format("ie9-skip-eot"),
  url('../assets/fonts/als_hauss/als_hauss_medium_italic.woff2') format("woff2"),
  url('../assets/fonts/als_hauss/als_hauss_medium_italic.woff') format("woff");
}