@font-face {
  font-family: 'ALSHauss-BlackExpanded';
  src: url('./fonts/ALSHauss-BlackExpanded.ttf') format('ttf');
  src: url('./fonts/ALSHauss-BlackExpanded.eot');
  src: url('./fonts/ALSHauss-BlackExpanded.eot?#iefix')
  format('embedded-opentype'),
  url('./fonts/ALSHauss-BlackExpanded.woff') format('woff'),
  url('./fonts/ALSHauss-BlackExpanded.woff2') format('woff2'),
  url('./fonts/ALSHauss-BlackExpanded.ttf') format('truetype'),
  url('./fonts/ALSHauss-BlackExpanded.svg#ALSHauss-BlackExpanded')
  format('svg');
  font-weight: 900;
  font-style: normal;
}